body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: "vanilla";
  src: url("../public/fonts/Vanilla-Daisy-Font/VanillaDaisy-SS03.ttf");
  /* Add other font formats and variations here if needed */
}
@font-face {
  font-family: "Broken";
  src: url("../public/fonts/BrokenRanch.otf");
  /* Add other font formats and variations here if needed */
}
@font-face {
  font-family: "Nosifer-Regular";
  src: url("../public/fonts/Nosifer-Regular.ttf");
  /* Add other font formats and variations here if needed */
}

@tailwind base;
@tailwind components;
@tailwind utilities;
